@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html{
  /* scroll-behavior: smooth; */
}

*{
  padding: var(--size_0);
  margin: var(--size_0);
  box-sizing: border-box;
}

.custom_cursor{
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.1s linear;
}

:root {

  /* color code */
  --primary_color: #fff;
  --deep_color: #000;
  --deep_red: #990000;
  --rich_black: #031926ff;
  --teal: #468189ff;
  --cambridge-blue: #misty_blue;
  --ash_gray: #9dbebbff;
  --parchment: #f4e9cdff;
  --dark_blue: #071330;
  --midnight_blue: #0C4160;
  --blue_gray: #738FA7;
  --misty_blue: #C3CEDA;
  --gradiant_color: linear-gradient(320deg, #031926ff, #468189ff, #77aca2ff, #9dbebbff, #f4e9cdff);
  --bg_tranperent: transparent;
  
  /* font and Width code */
  --max-width_xxl: 90rem;
  --max-width-xl: 80rem; 
  --max-height_xxl: 90rem;
  --max-height-xl: 80rem;
  --primary_height: 100vh;
  --primary_width: 100%;
  --text_size_80: 5rem;
  --text_size_70: 4.375rem;
  --text_size_48: 3rem;
  --text_size_32: 2rem;
  --text_size_24: 1.5rem;
  --text_size_22: 1.375rem;
  --text_size_20: 1.25rem;
  --text_size_18: 1.125rem;
  --text_size_16: 1rem;
  --text_size_14: .875rem;
  --text_size_12: .75rem;
  --font_weight_300: 300;
  --font_weight_400: 400;
  --font_weight_700: 700;


   /* font famliy */
  --font_text_family: "Dancing Script", cursive;
  --font_heading_family: "Kalam", cursive;

  /* padding & margin */
  --size_48: 3em;
  --size_24: 1.5em;
  --size_16: 1em;
  --size_12: .75em;
  --size_10: .625em;
  --size_8: .5em;
  --size_6: .375em;
  --size_4: .25em;
  --size_0: 0;
 

   /* border code */
   --border: 1px solid var(--deep_red);
   --border_2: 2px solid var(--deep_red);
   --border_4: 4px solid var(--deep_red);
   --border_color: var(--dark_blue);
   --box_shadow:  4.5px 4.5px 2.4px rgba(249, 248, 248, 0.06),
   12.5px 12.5px 6.6px rgba(253, 250, 250, 0.036),
   30.1px 30.1px 16px rgba(242, 239, 239, 0.026),
   100px 100px 53px rgba(248, 247, 247, 0.019);


  /* css code */
  --heading_size: var(--text_size_70);
  --paragrap_size: var(--text_size_14);
  --padding_st: var(--size_6), var(--size_10);
  --margin_st: var(--size_6), var(--size_10);

}

.m_auto{
  margin: auto;
}
.m_0{
  margin: var(--size_0);
}
.m_4{
  margin: var(--size_4);
}
.m_6{
  margin: var(--size_6);
}
.m_8{
  margin: var(--size_8);
}
.m_10{
  margin: var(--size_10);
}
.m_12{
  margin: var(--size_12);
}

.p_0{
  padding: var(--size_0);
}
.p_4{
  padding: var(--size_4);
}
.p_6{
  padding: var(--size_6);
}
.p_8{
  padding: var(--size_8);
}
.p_10{
  padding: var(--size_10);
}
.p_12{
  padding: var(--size_12);
}

.cursor{
  cursor: pointer;
}

.w{
  width: var(--primary_width);
}
.h{
  height: var(--primary_height);
}




